<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/seleniumFramwork/MyseleniumFramwork">
        <classes>
            <class name="test.ErrorValidation">
                <methods>
                    <include name="LogInErrorValidation"/>
                    <include name="ProductValidation"/>
                </methods>
            </class>
            <class name="test.placeOrder">
                <methods>
                    <include name="Order"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>